1. Create the following tuple object 'price.'

In [17]:
price = (180,130,110,160,140,170)
#(1)
price = list(price)
price.sort()
price = tuple(price)
print(price)

#2
price = (100,) + price + (190,)
print(price)

#3
price_2 = list(price[::2])
print(price_2)

#4
170 in price_2

#5
price = price[0:4] + (0,0,0) + price[4:]
print(price)

(110, 130, 140, 160, 170, 180)
(100, 110, 130, 140, 160, 170, 180, 190)
[100, 130, 160, 180]
(100, 110, 130, 140, 0, 0, 0, 160, 170, 180, 190)

2.	Create the list object ‘scores’ as below. Use sequence unpacking to assign the first 3 and the remaining 7 items of ‘scores’ to list object ‘scr1’ and ‘scr2’, respectively.

In [18]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
scr1, scr2 = scores[:3], scores[3:]
print(scr1, scr2, sep=",")

[8.8, 8.9, 8.7],[9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

3. Explain why the following expression raises an error.
    1. `dict_x = { {'a':10} : 5, 'abc': {'c':20} }`
    2. `dict_y = { (1,) : 10, (2,): 20, (3, ): 30, (4, ): 40 } ; dict_y[ -2 : ]`

In [ ]:
#1 keys have to be immutable objects
#2 unordered. slicing is not available

4. Create a dictionary ‘icecream’ with [price, inventory] for each ice cream item by the following code.

In [28]:
icecream={'cheery': [12,100], 'cookies': [18,200], 'greentea': [15,140], 'mango': [10,200]}
#1
icecream['cookies'][0] = 13
print (icecream)
#2
print('price= ', icecream['cheery'][0], ' & stock= ', icecream['cheery'][1])
#3
icecream['strawberry'] = (12,170)
icecream['pistachio'] = (15,100)
#or
icecream.update({'Strawberry':[12,170], 'pistachio':[15, 100]})
print (icecream)
#4
#there's no 'coconut' key in icecream
#5
icecream2 = icecream.copy()
print(icecream2)

{'cheery': [12, 100], 'cookies': [13, 200], 'greentea': [15, 140], 'mango': [10, 200]}
price=  12  & stock=  100
{'cheery': [12, 100], 'cookies': [13, 200], 'greentea': [15, 140], 'mango': [10, 200], 'strawberry': (12, 170), 'pistachio': [15, 100], 'Strawberry': [12, 170]}
{'cheery': [12, 100], 'cookies': [13, 200], 'greentea': [15, 140], 'mango': [10, 200], 'strawberry': (12, 170), 'pistachio': [15, 100], 'Strawberry': [12, 170]}

5. Create ‘d1’ and ‘d2’ by the following code.

In [46]:
d1={'key1': 1, 'key2': 3, 'key3': 2, 'key10': 7 }
d2={'key3': 1, 'key2': 2, 'key7': 2, 'key5': 4, 'key1': 7, 'key9': 8}

#1
d2v = list(d2.values())
d2v.sort()
d2v[-3:]
print(d2v)
#2
print(set(d1.values()))
#3
print(list(d1.keys()) in list(d2.keys()))
#or
d1k = set(d1.keys() );d2k = set(d2.keys()); print(d1k <= d2k)
#4
4 in list(d1.values())
#5
d1v = set(d1.values()); d2v = set(d2.values())
d1v & d2v
#6
# can't use indexing for set

[1, 2, 2, 4, 7, 8]
{1, 2, 3, 7}
False
False

{1, 2, 7}